<div class="row">
    <div class="col-12 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Modif de la prestation</h4>
                <ul class="list-arrow">
                    <li>Pseudo : dd</li>
                    <li>Nom : dd</li>
                    <li>Prenom : dd</li>
                    <li>Spécialisation : dd</li>
                    <li>Date de naissance : dd</li>
                    <li>Mail : dd</li>
                    <li>Garage : dd</li>
                </ul>
            </div>
        </div>
    </div>
</div>