<div class="row">
    <div class="col-12 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Détails de l'employé</h4>
                <ul class="list-arrow">
                    <li>Pseudo : {{ mecanicien?.pseudo }}</li>
                    <li>Nom : {{ mecanicien?.nom }}</li>
                    <li>Prénom : {{ mecanicien?.prenom }}</li>
                    <li>Spécialisation : {{ mecanicien?.libelle_categorie }}</li>
                    <li>Date de naissance : {{ mecanicien?.date_de_naissance | date }}</li>
                    <li>Mail : {{ mecanicien?.mail }}</li>
                    <li>Garage : {{ mecanicien?.localisation }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>