<ng-container *ngIf="isLoginPage; else mainLayout">
    <router-outlet></router-outlet>
</ng-container>

<ng-template #mainLayout>
    <div class="container-scroller">
        <app-header></app-header>

        <div class="container-fluid page-body-wrapper">
            <app-sidebar></app-sidebar>

            <div class="main-panel">
                <div class="content-wrapper">
                    <router-outlet></router-outlet> <!-- Affichage des autres pages -->
                </div>

                <app-footer></app-footer>
            </div>
        </div>
    </div>
</ng-template>
