<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="accueil">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="rendezvous">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Rendez-vous</span>
            </a>
        </li>
    </ul>
</nav>